{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Captura de pantalla</h1>
        <p>skljfsaldfhsdlkfjsdklfnksdjfnsdjfnsdlkfsaldkfsjdfsaldkfjsdkjf   sdfjkasdfkjsadñlfkkjsdf</p>

    </div>
    <div class="col-4">
        <img src="/06-web-server/public/assets/img/pantalla.png" class="img-thumbnail">
    </div>

</div>
    
{{> footer}}
